header{
    background-color: rgb(116, 64, 16); width: 100%; height: 100px; position: fixed; top: 0; left: 0; display: flex; align-items: center; z-index: 100;
}
.logo{
     width: 250px; height: 100px; margin-left: 50px; display: flex; justify-content: center;
}
.buttons{
    display: flex; justify-content: center; margin-left: 400px;
}
.buttons ul{
    list-style-type: none; display: flex; gap: 50px;
}
.buttons a.button {
  text-decoration: none; padding: 8px 12px; background-color: #ddd; border-radius: 50px; color: rgb(75, 38, 9);
}
body{
    background-color: #F8F5E8; margin: 0; padding: 0;
}
.container{ 
    width: 20%; height: 600px; background-color: aliceblue; border-radius: 10px; margin: auto; margin-top: 150px;
}
.login{
    font-size: 20px; text-align: center; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding-top: 40px; display: block;
}
.info{
    width: 80%; height: 220px; margin: 0 auto; margin-top: 60px;
}
.username{
     font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
input{
    outline: none; border: none; background-color: aliceblue;
}
.password{
     font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;
}
.login2{
    background-color:  rgb(211, 164, 187); width: 100%; height: 40px; border-radius: 50px; color: aliceblue; font-weight: 700;
}
img{
    opacity: 40%;
}
.socmed{
    text-align: center; margin-top: 50px;  font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.zz{
    width: 50px; height: 50px; opacity: 100%;
}
.socmed2{
    display: flex; justify-content: center; gap: 20px; margin-top: 20px;
}
.or{
    text-align: center; margin-top: 50px;  font-family: Arial, Helvetica, sans-serif; font-size: 12px; gap: 10px;
}
.ch2{
    margin-top: 10px; 
}
.logotip{
    opacity: 100%;
}
.button{
    margin-top: 30px;
}
footer{
    width: 100%; height: 250px; background-color: rgb(116, 64, 16); margin-top: 100px;
}
.footer_block2 ul{
    list-style-type: none; text-decoration: none;
}
.footer_content{
    display: flex; gap: 100px;
}
.footer_block{
    margin-left: 50px;
}
a{
    text-decoration: none;
}
.footer_block3{
     display: inline; width: 200px; height: 70px;  margin: auto 0; margin-top: 160px; 
}
.footer_block3 ul{
    list-style-type: none; display: flex; 
}
ul a{
    color: black;
}
.set{
    opacity: 100%;
}